{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Video</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
 
 

   
</head>
    <body style="background-color:rgb(220, 208, 208)" >
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">SmartChais</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Acceuil</a></li>
                <li  class="active"><a href="/login">Connexion</a></li>
              </ul>
            </div>
          </nav>
        

          


<div class="row"> 
  <div class="col"> 

    <div class="col-xl-8 col-lg-7" style="margin-left:8%">
      <div   style="background-color:rgb(250, 246, 246);  box-shadow: 10px 10px 5px lightblue; width: 78.3%;" >
       
          <div >
              <h3 class="m-0 font-weight-bold text-primary"><B> WebCam</B></h3>
            
          </div>
          
           
       <img src="{% url 'video_cam' %}">   
          
      </div>
  </div>


  </div>


  <div class="col"  > 

 <table>
      <tr>
         <td> </td>
           <td><a href="https://www.gifsanimes.com/cat-fleches-111.htm"><img src="https://www.gifsanimes.com/data/media/111/fleche-image-animee-0176.gif" border="0" alt="fleche-image-animee-0176" /></a>
         </td>
          <td> </td>  
       </tr>
     <tr>
         <td> <a href="https://www.gifsanimes.com/cat-fleches-111.htm"><img src="https://www.gifsanimes.com/data/media/111/fleche-image-animee-0175.gif" border="0" alt="fleche-image-animee-0175" /></a>
         </td>
         <td> </td>
         <td><a  ><img src="https://www.gifsanimes.com/data/media/111/fleche-image-animee-0174.gif" border="0" alt="fleche-image-animee-0174" /></a>
         </td>
      </tr>
      <tr>
         <td> </td>
          <td>  <a href="https://www.gifsanimes.com/cat-fleches-111.htm"><img src="https://www.gifsanimes.com/data/media/111/fleche-image-animee-0172.gif" border="0" alt="fleche-image-animee-0172" /></a>
         </td>
         <td> </td>
        </tr>
     </table>
   
   




  </div>



</div>

  
    </body>
</html>

